<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="personal.secminhr.cavern">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/logo_img"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_img"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cavern">

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://61c4247b79a24648aa42828a8d85e075@o474726.ingest.sentry.io/5511457" />
        <activity
            android:name=".start.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Cavern.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Cavern.NoActionBar"
            android:windowSoftInputMode="adjustResize">
        </activity>
    </application>

</manifest>